<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <% if (locals.user) { %>
    <h1>Welcome back, <%= user.username %>!</h1>
    <form action="/log-out" method="post">
      <button type="submit">
        Log Out
      </button>
    </form>
  <% } else { %>
    <h1>Log in</h1>
    <form action="/log-in" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" autocomplete="username" required>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" autocomplete="current-password" required>
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">Sign up</a>
    <% if (locals.message) { %>
      <p><%= message %></p>
    <% } %>
  <% } %>
</body>
</html>